workflow.json
{
  "name": "AI Job Application Automation Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c25cffac-9b0e-4dad-83f0-0138fed5921f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "61ea40ac-458e-4dd6-b92e-45a972cb5dbc",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(job => {\n  return {\n    json: {\n      title: job.title,\n      company: job.company_name,\n      description: job.description,\n      url: job.url\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ccda58c6-251b-41b0-b99d-ba1322a9003e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return items\n  .filter(item => {\n    const title = item.json.title.toLowerCase();\n    return title.includes(\"python\") || title.includes(\"backend\");\n  })\n  .slice(0, 2);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "6a3e4069-40aa-46dc-85e8-6626357aecb9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "use your gemini-api-key",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "// Parse Gemini response safely\nconst item = $input.item.json;\n\nlet aiResult = {};\ntry {\n  const raw = item.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  aiResult = JSON.parse(raw.replace(/```json|```/g, '').trim());\n} catch(e) {\n  aiResult = { score: 0, reason: 'Parse error', apply: false };\n}\n\nreturn {\n  json: {\n    jobId: item.jobId || '',\n    title: item.title || '',\n    company: item.company || '',\n    location: item.location || '',\n    jobUrl: item.jobUrl || '',\n    aiScore: aiResult.score || 0,\n    aiReason: aiResult.reason || '',\n    aiMissing: (aiResult.missing_skills || []).join(', '),\n    shouldApply: aiResult.apply || false,\n    processedAt: new Date().toISOString()\n  }\n};",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "e8780cf7-3d96-4189-b7ac-c0616ec039d4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "15fc48e6-611c-4083-ba53-75caa092731c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.candidates[0].content.parts[0].text;\nconst ai = JSON.parse(raw.replace(/```json|```/g, '').trim());\nreturn { json: { ...ai, jobTitle: $input.item.json.jobTitle } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -112
      ],
      "id": "f03d838b-f9ec-4f52-8c72-142b14de9576",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "16b0bbf0-1f72-45db-96f4-b8bf10772b06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "543a46f0dc8bd9393ec4c5aecf5c75e645d389928dc3233ee4b5ecd6280128c4"
  },
  "id": "LER0L2P7WvAeHOAN",
  "tags": []
}
